<div class="navbar">    
  <h4>Tensorflow:Toxicity</h4>
  <hr>  
  <div style="position:absolute;bottom:20%">      
     <h4>Navigation Site</h4>
     <hr>
     <a href="/">Home</a><br>
     <a href="/about">About</a><br>
  </div>
</div>
