<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>
   <body>
   <%- include('layouts/heading'); -%>
   <%- include('layouts/navbar'); -%>
   
   
      <div class="main">
         <h2>Tensorflow:Toxicity</h2>
         An test application for testing the google tensor flow model call toxicty . 
         Which scores the probability of a text being toxic. ( in english only).
      </div>   
   </body>
</html>